{# Author : Ludwig GUERIN #}
{% extends "modules/layout.twig" %}

{% block keywords %}{% endblock %}

{% block title %}Register{% endblock %}

{% if not error %}
    {% set error=[] %}
{% endif %}

{% block body %}
    <form id="registerForm" action="" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" {% if username %}value="{{ username }}"{% else %}value=""{% endif %}/>
        <p class="error">{% if error.username %}{{ error.username }}{% endif %}</p>
        <br/>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value=""/>
        <p class="error">{% if error.password %}{{ error.password }}{% endif %}</p>
        <br/>

        <label for="c_password">Confirm password:</label>
        <input type="password" name="c_password" id="c_password" value=""/>
        <p class="error">{% if attribute(error, "c_password") %}{{ attribute(error, "c_password") }}{% endif %}</p>
        <br/>

        <button type="submit" disabled="disabled">Register</button>
    </form>
{% endblock %}