{# Author : Ludwig GUERIN #}
{% extends "modules/layout.twig" %}

{% block keywords %}error,erreur,404,page,not,found,inexistante{% endblock %}

{% block title %}Error 404 : Page Not Found{% endblock %}

{% block body %}
    <div id="content" onclick="history.back()">
        <h1 id="error404">Error 404</h1>
        <a href="javascript:history.back()">Click to go back to the previous page</a>
    </div>
{% endblock %}