/**
@author Ludwig GUERIN
 */

body{
    background-color: #9aee4d;
}

p.error{
    color: #d80500;
    transition: height 0.3s ease-in-out;
}

label.valid{
    color: #2ca02c;
}

*{
    color: #3c3f41;
}

.fa{
    font-family: FontAwesome, roboto, sans-serif;
}