/**
@author Ludwig GUERIN
 */

/**@@ <TEMPLATE> @@**/
/*@font-face{
    font-family: ;
    src: url("");
*/
/**@@ </TEMPLATE> @@**/

/*///////////////////////////////////////////////////////////////*/

@font-face{
    font-family: r;
    src: url("../../fonts/ttf/RobotoLight.ttf");
}

@font-face {
    font-family: AmericanCaptain;
    src: url("../../fonts/ttf/AmericanCaptain.ttf");
}

@font-face{
    font-family: FontAwesome;
    src: url("../../fonts/ttf/FontAwesome.ttf");
}